iframe[data-addr] {
	border: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999999999999999999999999999;
}
.waccat-config:not(.waccat-config-active) {
	display: none;
}
